<div class="container">
  <div id="match" class="row">
    <div class="col s12">
      <h4 class="section-title">Match</h4>
    </div>
    <div class="col s12">
      <ul id="tabs-swipe-demo" class="tabs">
        <li class="tab col s3"><a class="active" href="#scheduled">Scheduled</a></li>
        <li class="tab col s3"><a href="#finished">Finished</a></li>
      </ul>

      <div id="scheduled" class="col s12">
        <div id="pre-loader" class="preloader-wrapper big active">
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>

      <div id="finished" class="col s12">
        <div id="pre-loader" class="preloader-wrapper big active">
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>