<div class="container">
  <div id="saved-match" class="row">
    <div class="col s12">
      <h4 class="section-title">Saved Matches</h4>
    </div>
    <div id="saved" class="col s12">
      <div id="pre-loader" class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>